*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
h1{
    background-color: rgb(5, 5, 101);
    color: white;
}
.choices{
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
}
.choice{
    height: 130px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
.choice:hover{
    cursor: pointer;
    background-color: rgb(5, 5, 84);
}
img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;

}
.score-bord{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 3rem;
}
.score{
    font-size: 30px;
}
.msg-container{
    margin-top: 3rem;
}
#msg{
    background-color: rgb(5, 5, 62);
    font-size: 25px;
    display: inline;
    color: beige;
    text-align: center;
    padding: 0.75rem;
    border-radius: .5rem;
}
